In [1]:
from imret.query import Annotation

In [2]:
annot = Annotation('../data/query/train_anno/')

In [3]:
annot.names

['fence',
 'wall',
 'armchair',
 'seats',
 'sign',
 'books',
 'mirror',
 'table',
 'chair',
 'airplane',
 'balcony',
 'van',
 'closet',
 'floor',
 'sky',
 'bench',
 'window',
 'cars',
 'streetlight',
 'gate',
 'ground',
 'building',
 'plant',
 'door',
 'poster',
 'cupboard',
 'vase',
 'water',
 'bookcase',
 'desk',
 'path',
 'flowers',
 'refrigerator',
 'box',
 'curtain',
 'tree',
 'rocks',
 'bottle',
 'car',
 'basket',
 'grass',
 'road']

In [27]:
names = {name: name if name != 'cars' else 'car' for name in annot.names}

In [28]:
import pandas as pd

In [29]:
df = pd.DataFrame(names.items(), columns=['Class', 'Name'])

In [30]:
df.head()

      Class      Name
0     fence     fence
1      wall      wall
2  armchair  armchair
3     seats     seats
4      sign      sign

In [48]:
df.to_csv('../data/query/name_conversion.csv', index=False)

In [65]:
from imret.color import ColorPalette

In [66]:
cp = ColorPalette(name_conversion='../data/query/name_conversion.csv')

In [57]:
len(cp.names)

42

In [58]:
objectInfo = pd.read_csv('../data/model/objectInfo150.txt', sep='\t')
objectInfo.head()

   Idx   Ratio  Train   Val               Name
0    1  0.1576  11664  1172               wall
1    2  0.1072   6046   612  building, edifice
2    3  0.0878   8265   796                sky
3    4  0.0621   9336   917    floor, flooring
4    5  0.0480   6678   641               tree

In [59]:
info = [name.split(',')[0] for name in set(objectInfo.Name)]

In [60]:
colors = []
notfound = []
for classname in info:
    try:
        color = cp[classname]
        colors.append(classname)
    except ValueError:
        notfound.append(classname)

In [61]:
len(colors), len(notfound)

(32, 118)

In [62]:
notfound

['stove',
 'coffee table',
 'chest of drawers',
 'oven',
 'signboard',
 'food',
 'pool table',
 'lake',
 'dishwasher',
 'skyscraper',
 'plate',
 'palm',
 'radiator',
 'wardrobe',
 'stairs',
 'trade name',
 'cushion',
 'railing',
 'swivel chair',
 'blanket',
 'towel',
 'kitchen island',
 'bicycle',
 'bag',
 'sand',
 'tower',
 'river',
 'tray',
 'toilet',
 'conveyer belt',
 'house',
 'seat',
 'waterfall',
 'bannister',
 'sea',
 'crt screen',
 'hovel',
 'monitor',
 'rug',
 'clock',
 'booth',
 'stool',
 'cradle',
 'fountain',
 'hill',
 'bridge',
 'windowpane',
 'pier',
 'screen',
 'sofa',
 'sink',
 'glass',
 'step',
 'stage',
 'swimming pool',
 'hood',
 'washer',
 'minibike',
 'canopy',
 'pillow',
 'painting',
 'column',
 'chandelier',
 'pole',
 'light',
 'boat',
 'sidewalk',
 'grandstand',
 'bus',
 'truck',
 'shower',
 'ceiling',
 'tent',
 'countertop',
 'shelf',
 'land',
 'cabinet',
 'awning',
 'tank',
 'runway',
 'stairway',
 'apparel',
 'mountain',
 'arcade machine',
 'sculpture',
 'pot',
 'animal',
 'fireplace',
 'sconce',
 'ottoman',
 'television',
 'ship',
 'bulletin board',
 'blind',
 'bed ',
 'ashcan',
 'person',
 'field',
 'lamp',
 'book',
 'base',
 'ball',
 'plaything',
 'screen door',
 'computer',
 'earth',
 'barrel',
 'bathtub',
 'microwave',
 'dirt track',
 'case',
 'bar',
 'escalator',
 'counter',
 'flag',
 'traffic light',
 'buffet',
 'fan']

In [63]:
len(cp.names)

42

In [69]:
cp.save('../data/imgs/labels.txt')

In [72]:
with open('../data/imgs/palette.txt', 'w') as fp:
    for name in cp.names:
        r, g, b = cp[name]
        fp.write("{} {} {} \n".format(r, g, b))

In [73]:
!cat ../data/imgs/palette.txt

0 0 0
128 0 0
0 128 0
128 128 0
0 0 128
128 0 128
0 128 128
128 128 128
64 0 0
192 0 0
64 128 0
192 128 0
64 0 128
192 0 128
64 128 128
192 128 128
0 64 0
128 64 0
0 192 0
128 192 0
0 64 128
128 64 128
0 192 128
128 192 128
64 64 0
192 64 0
64 192 0
192 192 0
64 64 128
192 64 128
64 192 128
192 192 128
0 0 64
128 0 64
0 128 64
128 128 64
0 0 192
128 0 192
0 128 192
128 128 192
64 0 64
192 0 64